@import '../colors.css';
@import '../variables.css';
@import './config.css';

.creditcardpane {
  &>div {
    overflow: visible !important;
  }
}

.chordlabel {
  position: relative;
  display: inline-block;
  height: 2.4rem;
  line-height: 2.4rem;
  vertical-align: top;
  margin-right: 1rem;
}
