@import '../colors.css';
@import '../variables.css';
@import './config.css';

.creditcardpane {
  &>div {
    overflow: visible !important;
  }
}

.chordlabel {
  position: relative;
  display: inline-block;
  height: 2.4rem;
  line-height: 2.4rem;
  vertical-align: top;
  margin-right: 1rem;
  margin-top: -6px;
}

.emailbody {
  padding-left: 10px;
  padding-right: 10px;
}



.react-sanfona {
  border: 1px solid var(--gray);
  border-radius: 3px;
  margin-bottom: 70px;
}

.react-sanfona-item {

  &-title {
    background-color: #fafafa;
    border-top: 1px solid var(--gray);
    color: #333;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color .3s;
  }

  &:first-child &-title {
    border-top: none;
  }

  &-body {

  }

  &-expanded {
    & .react-sanfona-item-body {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &-expanded &-title {
    background-color: var(--primary-color);
    color: #fff;

    .title-done-btn {
        display: inline-block;
        float: right;
        color: #000;
    }
  }

  &-body-wrapper {
    color: #666;
    padding: 20px;
    position: relative;

    &:hover .tooltip {
      opacity: 1;
    }
  }

  .title-done-btn {
      display: none;
  }
}


.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s;
}
