.container {
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
}

.firstrow {
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
}

.firstcol {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
}

.secondrow {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
}

.secondcol {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
}

.span {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
}
