.container {
  font-family: 'Vidaloka'
}

.firstrow {
  font-family: 'Alegreya Sans'
}

.firstcol {
  font-family: 'Cabin Condensed'
}

.secondrow {
  font-family: 'Fredoka One'
}

.secondcol {
  font-family: 'Gentium Book Basic'
}

.span {
  font-family: 'Shadows Into Light Two'
}
