:root {
  --input-icon-color: color(var(--color-black) a(26%));
  --input-icon-font-size: calc(2.4 * var(--unit));
  --input-icon-size: calc(2 * var(--input-icon-font-size));
  --input-icon-offset: calc(1.6 * var(--unit));
  --input-icon-right-space: calc(2 * var(--unit));
}
