@import '../colors.css';
@import '../variables.css';
@import './config.css';

.itemheader {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.itemtemplate {
  padding: var(--padding);
}

.imgholder {
  text-align: center;
  height: 100%;
  width: 100%;
}

.heart {
  @apply --img;
  background-image: inline(../images/preview/Skilt_hjerte_white_tom.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 10%;
}

.portrait {
  @apply --img;
  background-image: inline(../images/preview/Skilt_rektangel_white_tom.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: gray 1px dotted;
  border-radius: 6px;
}

.landscape {
  @apply --img;
  background-image: inline(../images/preview/landscape_white_empty.png);
  padding: 4px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: gray 1px dotted;
  border-radius: 6px;
}

.square {
  @apply --img;
  background-image: inline(../images/preview/Skilt_kvadrat_white_tom.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: gray 1px dotted;
  border-radius: 6px;
}

.img {
  @apply --img;

  border: gray 1px dotted;
  border-radius: 6px;
}
