@import '../colors.css';
@import '../variables.css';
@import './config.css';


.landscape {
  max-width: 100%;
  background-image: inline(../images/preview/Skilt_rektangel_white_liggende_tom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: var(--image-border-width) var(--image-border-layout) var(--image-border-color);
  border-radius: 20px;

  & > img {
    width: 100%;
  }
}

.square {
  max-width: 100%;
  background-image: inline(../images/preview/Skilt_kvadrat_white_tom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: var(--image-border-width) var(--image-border-layout) var(--image-border-color);
  border-radius: 20px;

  & > img {
    width: 100%;
  }
}

.portrait {
  max-width: 100%;
  background-image: inline(../images/preview/Skilt_rektangel_white_tom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: var(--image-border-width) var(--image-border-layout) var(--image-border-color);
  border-radius: 20px;

  & > img {
    width: 100%;
  }
}

.heart {
  max-width: 100%;
  padding: 15%;
  background-image: inline(../images/preview/Skilt_hjerte_white_tom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  & > img {
    width: 100%;
    border: var(--image-border-width) var(--image-border-layout) var(--image-border-color);
  }
}
